.container {
  height: 600px;
  width: 1200px;
  background: linear-gradient(to bottom, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
  border: 10px outset rgba(102,102,102,1);
  border-radius: 100px;
}

#gamename {
  position: absolute;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  left: 490px;
  top: 27px;
	width: 250px;
	height: 60px;
	background: linear-gradient(to bottom, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%);
  border: 5px groove black;
  border-radius: 30px;
  }

#player1tag {
  position: absolute;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  left: 49px;
  top: 75px;
	width: 400px;
	height: 55px;
	background: rgba(247,207,247,1);
  border: 5px groove black;
  border-bottom: none;
  border-radius: 30px;
  }

#player2tag {
  position: absolute;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  left: 49px;
  top: 500px;
	width: 400px;
	height: 53px;
	background: rgba(185,234,136,1);
  border: 5px groove black;
  border-top: none;
  border-radius: 30px;
  }

#p1lane {
  position: absolute;
  top: 124px;
  height: 100px;
  width: 1194px;
  background: linear-gradient(to bottom, rgba(247,207,247,1) 0%,rgba(229,115,231,1) 24%,rgba(211,10,214,1) 50%,rgba(223,83,225,1) 79%,rgba(232,136,234,1) 100%);
  border: 3px inset rgba(223,83,225,1);
}

#p1ball {
  position: absolute;
  top: 10px;
	width: 80px;
	height: 80px;
	background: radial-gradient(ellipse at center, rgba(255,202,201,1) 0%,rgba(255,48,37,1) 100%);
  border: 2px outset rgba(255,48,37,1);
  border-radius: 40px;
}

#p1target {
  position: absolute;
  width: 80px;
  height: 100px;
  left: 557px;
  background: linear-gradient(to right, rgba(255,183,147,1) 0%,rgba(156,52,0,1) 38%,rgba(156,52,0,1) 38%,rgba(118,39,0,1) 56%,rgba(118,39,0,1) 56%,rgba(118,39,0,1) 57%,rgba(255,95,15,1) 100%);
  border-left: 5px groove rgba(255,183,147,1);
  border-right: 5px groove rgba(255,95,15,1);
}

#p2lane {
  position: absolute;
  top: 400px;
  height: 100px;
  width: 1194px;
  background: linear-gradient(to bottom, rgba(226,247,207,1) 0%,rgba(173,231,115,1) 24%,rgba(112,214,10,1) 50%,rgba(154,225,83,1) 79%,rgba(185,234,136,1) 100%);
  border: 3px inset rgba(154,225,83,1);
}

#p2ball {
  position: absolute;
  top: 10px;
	width: 80px;
	height: 80px;
	background: radial-gradient(ellipse at center, rgba(255,202,201,1) 0%,rgba(255,48,37,1) 100%);
  border: 2px outset rgba(255,48,37,1);
  border-radius: 40px;
}

#p2target {
  position: absolute;
  width: 80px;
  height: 100px;
  left: 557px;
  background: linear-gradient(to right, rgba(255,183,147,1) 0%,rgba(156,52,0,1) 38%,rgba(156,52,0,1) 38%,rgba(118,39,0,1) 56%,rgba(118,39,0,1) 56%,rgba(118,39,0,1) 57%,rgba(255,95,15,1) 100%);
  border-left: 5px groove rgba(255,183,147,1);
  border-right: 5px groove rgba(255,95,15,1);
}

.speed-one {
  animation: move 5s infinite;
  animation-direction: alternate;
}

.speed-two {
  animation: move 3s infinite;
  animation-direction: alternate;
}

.speed-three {
  animation: move 1s infinite;
  animation-direction: alternate;
}

.running {
  animation-play-state: running;
}
.pause {
  animation-play-state: paused;
}

@keyframes move {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(1110px, 0, 0);
  }
}

#p1winbox {
  position: absolute;
  left: 125px;
  top: 240px;
	width: 350px;
	height: 125px;
	background: linear-gradient(to bottom, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%);
  border: 10px groove black;
  border-radius: 30px;
}

#p1winner {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

#tlbox {
  position: absolute;
  top: 240px;
  left: 550px;
	width: 125px;
	height: 125px;
  background: linear-gradient(to bottom, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%);
  border: 10px groove black;
  border-radius: 40px;
}

#tielose {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

#p2winbox {
  position: absolute;
  left: 750px;
  top: 240px;
	width: 350px;
	height: 125px;
	background: linear-gradient(to bottom, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%);
  border: 10px groove black;
  border-radius: 30px;
}

#p2winner {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.pop {
  animation: pop 1s;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

button {
  position: absolute;
  left: 850px;
  top: 520px;
  height: 80px;
  width: 150px;
  font-size: 20px;
  color: white;
	background: grey;
  border: 5px groove white;
  border-radius: 30px;
}
